* {
    font-family: Lato, monospace;
}

:root{
    --primary-color: #DDD8C4;
    --secondary-color: #2c2c2c;
    --bg: white;
    --bgtext: black;
    --green: #A3C9A8;
    --dark-green: #84B59F;
    --dark-dark-green: #7aaf97;
}


::selection{
    background-color: var(--green);
    color: white;
}

body {
    background-color: #DDD8C4;
}

ul {
    list-style: none
}



.container {
    padding: 5px;
    margin: 30px auto auto;
    max-width: 50%;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 12px;
}

footer {
    background-color: #d5cfb7;
}

footer a {
    color: black;
}

i {
    text-decoration: none;
}

.intro-img {
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 200px;
}


/* project css */

.project {
    margin-top: 15px;
    width: 100%;
    transition: all 500ms ease;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.project-img {
    width: 100%;
    max-height: 300px;
    transition: all 500ms ease;
    z-index: 1;
    opacity: 1;
}

.project:hover .project-img{
    transform: scale(1.05);
    opacity: 0.7;
    filter: blur(4px) brightness(50%);

}

.project-description {
    position: absolute;
    top: 10%;
    left: 3%;
    max-width: 90%;
    z-index: 3;
    opacity: 0;
    transition: all 500ms ease;
}

.project:hover .project-description {
    opacity: 1;
}

.project-description a {
    text-decoration-color: white;
    color: white;
}

.project-description a span {
    margin-right: 3px;
}


/* navbar css */

.navbar-brand {
    color: var(--dark-green) !important;
    font-size: 24px;
    margin-left: 15%;
    font-weight: bold;
    cursor: default;
}

.nav-link-primary {
    background-color: var(--green);
    border-radius: 50px;
    color: #fff !important;
    transition: all 300ms ease;
}

.nav-link-primary:hover {
    background-color: var(--dark-green);
}

.navbar-nav {
    margin-right: 20%;
}

.intro-links {
    margin: auto;
    text-align: center !important;
}

.intro-link {
    margin: 10px;
    color: var(--dark-green);
    transition: all 300ms ease;
}

.intro-link:hover {
    color: var(--dark-dark-green);
}



/* text css */

.text-green {
    color: var(--dark-green) !important;
}

.underlined-text {
    position: relative;
}

.underlined-text_green {
    cursor: default;
}

.underlined-text_green:after {
    background-color: var(--dark-green);
}

.underlined-text:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease;
}

.underlined-text:hover:after {
    width: 100%;
    left: 0;
}


/* Languages */
.language-list {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}

.language {
    width: 40%;
    display: flex;
    justify-content: center;
    position: relative;
}

.language-img {
    width: 100%;
    max-width: 100px;
    transition: all 300ms ease;
}

.language:hover .language-img {
    filter: brightness(90%);
    opacity: 0.8;
    transform: scale(0.9);
}

.language-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.language-name {
    position: absolute;
    font-size: 15px;
    bottom: 3px;
    opacity: 0;
    transform: scale(0);
    transition: all 300ms;
}

.language:hover .language-name {
    transform: scale(1);
    opacity: 1;
}


